body {
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Set height of the grid so .sidenav can be 100% (adjust if needed) */

.row.content {
    height: 500px
}


/* Set gray background color and 100% height */

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}


/* Set black background color, white text and some padding */

footer {
    color: #555;
    padding: 15px;
}


/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}